<p id="notice"><%= notice %></p>

<p>
  <strong><%= Report.model_name.human + Report.human_attribute_name(:name) + ':'%></strong>
  <%= @report.name %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:body) + ':' %></strong>
  <%= @report.body %>
</p>

<%= render '/comment_show', send_to: @report %>

<%= render '/comment_form', send_to: @report %>

<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<%= link_to t('views.common.back'), reports_path %>
